<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html lang='en'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<title>Maps on a Stick</title>
  <!-- big libraries -->
  <script src='{{ url_for('static', filename='js/OpenLayers.js') }}'></script>
  <script src='{{ url_for('static', filename='js/jquery-1.3.2.js') }}'></script>
  <!-- small libraries -->
  <script src='{{ url_for('static', filename='js/jquery.uniform.js') }}'></script>
  <!-- custom code -->
  <script src='{{ url_for('static', filename='js/mapbox.js') }}'></script>
  <script src='{{ url_for('static', filename='js/openlayers_blockswitcher.js') }}'></script>
  <script src='{{ url_for('static', filename='js/map.js') }}'></script>
 	<link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}' type='text/css' media='screen' />
</head>
<body>
  <div id='header'>
    <h1 class="site-name">Maps on a Stick</h1>
  </div>
  <div id='left'>
    <div class='kml-input'>
      <form id='kml-file-form' enctype='multipart/form-data' method='POST' action='/kml'>
        <input id='kml-file-input' name='kml-file' type='file' />
      </form>
      <a id='kml-url-add' href="#">or online kml</a>
    </div>
    <div class='openlayers-blockswitcher'>
      <div class='layers base'>
        <h2 class='layers-title'>Base layers</h2>
          <div class='layers-content'>
        </div>
      </div>
      <div class='layers data'>
        <h2 class='layers-title'>Data layers</h2>
          <div class='layers-content'>
        </div>
      </div>
      <div style='display:none' class='factory'>
        <div class='form-item form-option radio'>
          <span class='icon'></span>
          <label class='option'></label>
        </div>
        <div class='form-item form-option checkbox'>
          <label class='option'>
            <span class='key'></span>
            <input class='form-checkbox' type='checkbox' />
          </label>
        </div>
        <div class='factory layer-tools'>
          <a class='layer-zoom' href='#'>Zoom to Layer</a>
        </div>
      </div>
    </div> <!-- .openlayers-blockswitcher -->
  </div> <!-- #left -->
  <div id='shadow-bottom'></div>
  <div id='shadow-top'></div>
  <div id='shadow-left'></div>
  <div id='canvas'>
    <div id='map'></div>
  </div>
  <div id='footer'>
    <span class="moas">Maps on a Stick</span>
      | a project of 
      <a href="http://www.mapbox.com/">MapBox</a> and 
      <a href="http://www.developmentseed.org/">Development Seed</a>
      |  <a href="http://mapbox.com/documentation/maps-stick">Help</a>
    <span class="copyright">
      &copy; 2010 <a href="http://mapbox.com/">
        <img src='{{ url_for('static', filename='images/mapbox-small.png') }}' class='icon'/>
         MapBox</a> 
      | <a href="http://mapbox.com/tos">Terms of Service</a>
    </span>
  </div>
  <div id='kml_window'>
    <div id='kml-window-inner'>
      <div class='kml-url-input-wrapper'>
        <input type='text' name='kml-url' size='55' id='kml-url' />
        <input type='button' name='kml-url-submit' id='kml-url-submit' value='Add KML' />
        or <a href="#" id='kml-url-input-cancel'>Close</a>
      </div>
    </div>
  </div>
  </body>
</html>
